@font-face {
	font-family: "bootstrap-icons";
	src: url("./fonts/bootstrap-icons.woff2?524846017b983fc8ded9325d94ed40f3") format("woff2"),
		url("./fonts/bootstrap-icons.woff?524846017b983fc8ded9325d94ed40f3") format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
	display: inline-block;
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: -.125em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bi-files::before {
	content: "\f3c2";
}

.bi-bounding-box-circles::before {
	content: "\f1b5";
}

.bi-scissors::before {
	content: "\f528";
}

.bi-grid-3x3::before {
	content: "\f3fa";
}

.bi-pencil::before {
	content: "\f4cb";
}

.bi-brush::before {
	content: "\f1d8";
}

.bi-calculator::before {
	content: "\f1e0";
}

.bi-file-text::before {
	content: "\f3b9";
}

.bi-gear::before {
	content: "\f3e5";
}

.bi-file-earmark-plus::before {
	content: "\f37d";
}

.bi-file-earmark::before {
	content: "\f392";
}

.bi-arrow-clockwise::before {
	content: "\f116";
}

.bi-arrow-counterclockwise::before {
	content: "\f117";
}

.bi-pencil-square::before {
	content: "\f4ca";
}

.bi-trash3::before {
	content: "\f78b";
}

.bi-folder::before {
	content: "\f3d7";
}

.bi-caret-down-fill::before {
	content: "\f229";
}

.bi-caret-left-fill::before {
	content: "\f22d";
}

.bi-caret-right-fill::before {
	content: "\f231";
}

.bi-caret-up-fill::before {
	content: "\f235";
}

.bi-layout-three-columns::before {
	content: "\f465";
}

.bi-square::before {
	content: "\f584";
}

.bi-x::before {
	content: "\f62a";
}

.bi-filetype-json::before {
	content: "\f791";
}