@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "Raleway";
	src: url("./fonts/Raleway-Medium.ttf");
}

:root {
	--main-color: #333;
	--sub-color: #222;
	--active-color: #444;
	--active-light-color: #888;
	--text-color: #fff;
	--sub-text-color: #888;
	--plane-color: #f00;
	--excision-color: #ffaf00;
	--mirror-color: #f5f5f5;
	--joint-color: #bebebe;
	--active-tile-color: #ffa768;
	--button-color: #444;
	--button-active-color: #fff;
	--main-font: 'Montserrat', sans-serif;
	--sub-font: 'Raleway', sans-serif;
	--tile-font-size: 10px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 12px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: var(--main-font);
	padding: 0;
	margin: 0;
	background-color: var(--active-color);
	color: var(--text-color);
	height: 100vh;
	font-feature-settings: 'lnum';
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	-webkit-app-region: no-drag;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

link {
	text-decoration: none;
}

a,
a:visited {
	text-decoration: none
}

a:hover {
	text-decoration: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

.wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25px 1fr;
	height: 100vh;
	font-weight: 500;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	/* Chrome/Safari/Opera */
	/* -khtml-user-select: none; */
	/* Konqueror */
	/* -moz-user-select: none; */
	/* Firefox */
	/* -ms-user-select: none; */
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
											  not supported by any browser */
}

nav {
	display: flex;
	list-style: none;
	font-size: 14px;
	background-color: var(--main-color);
	align-items: center;
	z-index: 10;
}

.navigation__icon {
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation__icon img {
	height: 15px;
}

.navigation__menu {
	flex: 0 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.navigation__item {
	background-color: var(--main-color);
	border-style: none;
	font-size: 12px;
	padding: 0 10px;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navigation__item.active {
	background-color: var(--active-color);
}

.navigation__item:hover {
	background-color: var(--active-color);
}

.navigation__file {
	flex: 1 0 auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	color: var(--sub-text-color);
	margin-right: 140px;
	z-index: -1;
	-webkit-app-region: drag;
}

.dropdown {
	position: relative;
}

.dropdown__menu {
	width: 200px;
	top: 25px;
	left: 0;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	background-color: rgba(38, 38, 38, 0.7);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5px 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.8);
	border: 1px solid #555;
	border-top-style: none;
}

.dropdown__menu.active {
	opacity: 1;
	visibility: visible;
}

.dropdown__item {
	background-color: transparent;
	border-style: none;
	padding: 5px 20px;
	display: flex;
	width: 100%;
	font-size: 12px;
	color: var(--text-color);
}

.dropdown__item a {
	color: inherit;
}

.dropdown__item:hover {
	background-color: var(--active-light-color);
}

.dropdown__divider {
	display: block;
	width: 90%;
	height: 0.5px;
	background-color: var(--active-light-color);
	margin: 5px auto;
}

.workspace {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	max-width: 100vw;
	max-height: calc(100vh - 25px);
}

.sidebar {
	width: 40px;
	min-width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--main-color);
	z-index: 10;
	max-height: 100vh - 25px;
}

.sidebar__group {
	display: flex;
	flex-direction: column;
}

.sidebar button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	font-size: 16px;
	border-style: none;
	background-color: transparent;
	color: var(--main-font);
}

.sidebar button {
	position: relative;

}

.sidebar button::after {
	content: attr(data-tooltip);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	height: 100%;
	transform: translate(100%, 0);
	font-size: 10px;
	background-color: #555;
	white-space: nowrap;
	padding: 5px 10px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.5);
}

.sidebar button:disabled::after {
	background-color: #555;
	color: #ddd;
	opacity: 1;
}

.sidebar button:hover::after {
	opacity: 1;
	visibility: visible;

}

.sidebar button.active {
	background-color: var(--active-color);
}

.sidebar button:hover {
	background-color: var(--active-color);
}

.workpanel {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	max-width: calc(100vw - 40px);
	max-height: calc(100vh - 25px);
}

.tabs {
	display: flex;
	width: 100%;
	min-height: 0;
	max-height: 25px;
	background-color: var(--main-color);
	overflow: hidden;
}

.tabs__item {
	font-size: 10px;
	height: 25px;
	display: flex;
	align-items: center;
	color: var(--active-light-color);
	padding: 0 10px;
	border-right: 1px solid var(--active-light-color);
	cursor: pointer;
}

.tabs__item::after {
	content: '';
	display: none;
	width: 5px;
	height: 5px;
	background-color: red;
	border-radius: 50%;
	margin-left: 5px;
}

.tabs__item.unsaved::after {
	display: block;
}

.tabs__item::before {
	padding-right: 5px;
}

.tabs__item.active {
	background-color: var(--active-color);
}

.tabs__item:hover {
	background-color: var(--active-color);
	color: #fff;
}

.tabs .bi-x,
.excisions__tabs .bi-x,
.planes__tabs .bi-x {
	padding: 1px 3px 1px;
	margin: 0 0 0 5px;
	border-radius: 5px;
	font-size: 14px;
}

.tabs .bi-circle-fill {
	padding: 1px 3px 1px;
	margin: 0 0 0 5px;
	border-radius: 5px;
	font-size: 6px;
	color: #f00;
}

.tabs .bi-circle-fill:hover,
.tabs .bi-x:hover,
.excisions__tabs .bi-x:hover,
.planes__tabs .bi-x:hover {
	background-color: #f00;
}

.workarea {
	width: 100%;
	max-height: calc(100vh - 50px);
	overflow: hidden;
}

.workarea__img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.05;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.canvas {
	height: calc(100vh - 90px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 50px;
	background-color: #fff;
	box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.canvas__plane {
	margin: auto;
	position: relative;
	display: flex;
	align-items: center;
}

.canvas__plane::after {
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid var(--plane-color);
	z-index: 7;
	pointer-events: none;
}

.canvas__tiles {
	width: 100%;
	height: 100%;
}

.canvas__tile {
	position: absolute;
	background-color: var(--joint-color);
}

.canvas__tile.active {
	background-color: var(--active-tile-color);
	z-index: 2;
}

.canvas__tile.removed {
	opacity: 0;
}

.canvas__mirror {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--tile-font-size);
	font-family: var(--sub-font);
	text-align: center;
	background-color: var(--mirror-color);
	color: #333;
}

.canvas__mirror.selectable {
	cursor: pointer;
}

.canvas__mirror.deleted {
	opacity: 0;
}

.canvas__mirror i {
	margin: -2px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #888;
}

.canvas__excision {
	position: absolute;
	border: 1px solid var(--excision-color);
	pointer-events: none;
	z-index: 6;
}

.canvas__plane button {
	position: absolute;
	width: 20px;
	height: 20px;
	border-style: none;
	z-index: 8;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	color: #444;
	background-color: #eee;
	border: 1px solid #ccc;
}

.canvas button:hover {
	border: 1px solid #888;
}

.canvas__size {
	font-size: 14px;
	padding: 3px;
	position: absolute;
	color: #888;
	z-index: 10;
}

.canvas__size_width {
	bottom: 0px;
}

.canvas__size_height {
	left: 0;
	transform: rotate(-90deg) translate(0, -100%);
}

.settings {
	position: relative;
	padding: 50px 100px;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 25px);
	overflow-y: scroll;
}

.settings__item {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.settings__title {
	font-size: 12px;
	margin: 5px 0;
}

.settings__details {
	font-size: 10px;
	font-family: var(--sub-font);
	margin: 5px 0;
}

.settings__block {
	display: grid;
	grid-template-columns: 150px 150px;
	grid-gap: 5px;
	align-items: center;
}

.settings label {
	padding: 5px 0;
	font-size: 10px;
	font-family: var(--sub-font);
	color: var(--sub-text-color);
}

.settings input[type="text"],
.settings input[type="number"] {
	width: 150px;
	border-style: none;
	border-radius: 5px;
	background-color: var(--sub-color);
	color: #fff;
	padding: 5px 10px;
}

.settings input[type="color"] {
	height: 26px;
	margin-left: 0px;
	padding-left: 0px;
}

.settings input[type="checkbox"] {
	display: none;
}

.settings input[type="checkbox"]+label {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.settings input[type="checkbox"]+label::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #222;
	border-radius: 5px;
}

.settings input[type="checkbox"]:checked+label::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	display: block;
	width: 12px;
	height: 12px;
	background-color: #ddd;
	border-radius: 3px;
}

button {
	transition: 0.3s;
}

button:disabled {
	opacity: 0.5;
}

.control {
	display: block;
	/* transition: 0.3s; */
	width: 200px;
	min-width: 200px;
	/* max-width: 300px;
	min-width: 200px; */
	margin-left: -200px;
	position: relative;
	max-height: 100vh - 25px;
	background-color: var(--sub-color);
	/* resize: horizontal; */
}

.control.active {
	margin-left: 0;
}

.control button {
	border-radius: 5px;
}

.control__item {
	position: absolute;
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}

.control__item.active {
	opacity: 1;
	visibility: visible;
}

.control__group {
	width: 100%;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.control__caption {
	font-size: 12px;
	text-align: center;
	margin: 0 0 10px;
}

.control__inputs {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: center;
	grid-gap: 5px;
	margin: 0 0 5px;
}

.control__inputs input:disabled {
	opacity: 0.8;
	background-color: #fff;

}

.control__item input[type="number"] {
	border-radius: 5px;
	border-style: none;
	padding: 5px;
	font-size: 10px;
	font-weight: 700;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	background: var(--button-color);
	background: transparent;
	width: 40px;
	height: 20px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

/* -webkit */
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: 1px solid var(--button-color);
	border-radius: 5px;
	transition: 0.3s;
}

input[type="color"]::-webkit-color-swatch:hover {
	border: 1px solid var(--button-active-color);
}


/* firefox */
input[type=color]::-moz-focus-inner {
	padding: 0;
	border-radius: 5px;
}

input[type=color]::-moz-color-swatch {
	border: 1px solid var(--button-color);
	border-radius: 5px;
	transition: 0.3s;
}

input[type=color]::-moz-color-swatch:hover {
	border: 1px solid var(--button-active-color);
}

.control__label,
.control__item label {
	font-size: 12px;
	padding-left: 5px;
	color: var(--active-light-color);
	font-family: var(--sub-font);
}

.control__label {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 0;
}

.control__label_small {
	font-size: 8px;
	color: var(--text-color);
}

.control__label_center {
	text-align: center;
}

.control__item button {
	background-color: transparent;
	font-size: 10px;
	color: #fff;
	border: none;
	padding: 5px 0;
	width: 100%;
	margin: 0 auto 5px;
	border: 1px solid var(--button-color);
}

.control__item button:hover {
	border: 1px solid var(--button-active-color);
}

.control__item :last-child {
	margin-bottom: 0;
}

.control__report {
	width: 100%;
}

.files {
	display: flex;
	flex-direction: column;
	/* font-family: var(--sub-font); */
}

.files__buttons {
	display: flex;
	justify-content: flex-end;
}

.files__buttons button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	margin: 0 2px;
	border-style: none;
	font-size: 14px;
}

.files__buttons button:last-child {
	margin-right: 0;
}

.files__buttons button:hover {
	background-color: var(--active-color);
	border-style: none;
}

.files__buttons button::after {
	content: attr(data-tooltip);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	height: 100%;
	transform: translate(100%, 100%);
	font-size: 10px;
	background-color: #555;
	white-space: nowrap;
	padding: 5px 10px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.5);
	z-index: 15;
}

.files__buttons button:hover::after {
	opacity: 1;
	visibility: visible;
}

.files__folder {
	margin: 5px 0;
	font-size: 14px;
}

.files__folder::before {
	padding-right: 5px;
}

.files__items {
	max-height: calc(100vh - 150px);
	border-left: 1px solid #444;
	padding-left: 15px;
	overflow-y: auto;
	cursor: pointer;
}

.files__item {
	display: block;
	position: relative;
	background-color: transparent;
	color: #ddd;
	padding: 5px;
	/* font-size: 10px; */
}

.files__item::before {
	padding-right: 5px;
}

.files__item input {
	display: inline-block;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border-style: none;
	color: #ddd;
}

.files__item:hover {
	background-color: var(--active-color);
}

.files__item.active {
	background-color: var(--active-color);
}

.files__item.active::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 1px solid #888;
}


.files__item input {
	padding: 0;
	margin: 0;
	/* font-family: var(--sub-font); */
	font-size: 12px;
}

.files__item_active {
	cursor: text;
}

.plane {
	display: flex;
	flex-direction: column;
}

.planes__tabs {
	display: flex;
	flex-direction: column;
}

.planes__tab {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	color: var(--text-color);
	margin-bottom: 5px;
	padding: 10px;
	font-size: 10px;
	cursor: pointer;
}

.planes__tab:hover {
	border: 1px solid var(--button-active-color);
}

.planes__tab.active {
	background-color: var(--active-color);
}

.excisions {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.excisions__tabs {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.excisions__tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border: 1px solid var(--button-color);
	border-radius: 5px;
	font-size: 10px;
	color: var(--text-color);
	margin-bottom: 5px;
	padding: 5px 10px;
}

.move {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.move button {
	width: 40px;
	height: 40px;
	margin: 0;
}

.selection-type {
	display: flex;
	margin: 0 auto;
}

.selection-type input {
	display: none;
	position: relative;
	z-index: -1;
	opacity: 0;
	margin: 0;
	padding: 0;
}

.selection-type label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.selection-type label:first-of-type {
	transform: rotate(90deg);
}

.selection-type label::before {
	content: '';
	display: inline-block;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid var(--button-color);
	color: var(--button-color);
}

.selection-type input:checked+label::before {
	border: 1px solid var(--button-active-color);
}

.selection-type input:checked+label i {
	color: var(--button-active-color);
}


.selection-type i {
	position: absolute;
	padding: 0;
	margin: 0;
	font-size: 18px;
	z-index: 1;
}

.alert {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.alert.active {
	overflow: visible;
	opacity: 1;
	z-index: 10;
}

.alert__body {
	max-width: 400px;
	position: relative;
	border-radius: 5px;
	background-color: var(--main-color);
	color: #333;
	background-color: #eee;
	min-width: 300px;
	min-height: 200px;
	padding: 0 0 25px;
	box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.8);
}

.alert__title {
	width: 100%;
	height: 25px;
	background-color: #ccc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid rgb(165, 165, 165);
}

.alert__message {
	display: flex;
	justify-content: center;
	margin: 25px;
	font-size: 14px;
	line-height: 22px;
}

.alert__close {
	position: absolute;
	bottom: 25px;
	right: 25px;
	border: 1px solid #888;
	border-radius: 5px;
	background-color: transparent;
	color: #333;
	font-size: 12px;
	padding: 5px 20px;
}

.alert__close:hover {
	background-color: #ddd;
	border: 1px solid #aaa;
}

.control__step {
	width: 100%;
	cursor: pointer;
}

input[type=range].styled-slider {
	height: 30px;
	background-color: transparent;
	-webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
	--range: calc(var(--max) - var(--min));
	--ratio: calc((var(--value) - var(--min)) / var(--range));
	--sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider:focus {
	outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #303030;
	border: none;
	box-shadow: 0 0 2px black;
	margin-top: calc(4px * 0.5 - 20px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
	height: 4px;
	border: none;
	border-radius: 50px;
	background: #FFFFFF;
	box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
	background: #404040;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
	background: #FFFFFF;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
	background: #888888;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
	background: #FFFFFF;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
	background: linear-gradient(#FF0000, #FF0000) 0/var(--sx) 100% no-repeat, #FFFFFF;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
	background: linear-gradient(#FF3E3E, #FF3E3E) 0/var(--sx) 100% no-repeat, #FFFFFF;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
	background: linear-gradient(#FF9191, #FF9191) 0/var(--sx) 100% no-repeat, #FFFFFF;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #303030;
	border: none;
	box-shadow: 0 0 2px black;
}

input[type=range].styled-slider::-moz-range-track {
	height: 4px;
	border: none;
	border-radius: 50px;
	background: #FFFFFF;
	box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
	background: #404040;
}

input[type=range].styled-slider:hover::-moz-range-track {
	background: #FFFFFF;
}

input[type=range].styled-slider::-moz-range-thumb:active {
	background: #888888;
}

input[type=range].styled-slider:active::-moz-range-track {
	background: #FFFFFF;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
	background: linear-gradient(#FF0000, #FF0000) 0/var(--sx) 100% no-repeat, #FFFFFF;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
	background: linear-gradient(#FF3E3E, #FF3E3E) 0/var(--sx) 100% no-repeat, #FFFFFF;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
	background: linear-gradient(#FF9191, #FF9191) 0/var(--sx) 100% no-repeat, #FFFFFF;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
	background: transparent;
	border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
	background: transparent;
	border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #303030;
	border: none;
	box-shadow: 0 0 2px black;
	margin-top: 0;
	box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
	height: 4px;
	border-radius: 50px;
	background: #FFFFFF;
	border: none;
	box-shadow: none;
	box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
	background: #404040;
}

input[type=range].styled-slider:hover::-ms-track {
	background: #FFFFFF;
}

input[type=range].styled-slider::-ms-thumb:active {
	background: #888888;
}

input[type=range].styled-slider:active::-ms-track {
	background: #FFFFFF;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
	height: 4px;
	border-radius: 50px 0 0 50px;
	margin: -undefined 0 -undefined -undefined;
	background: #FF0000;
	border: none;
	border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
	background: #FF3E3E;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
	background: #FF9191;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #555 #444;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #444;
	border: 1px solid #555;
}

*::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 0px;
	/* border: 1px solid #333; */
}