*,*:before,*:after{
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,
body{
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
   font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #404040;
	min-height: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear {
	display: none;
}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
link{text-decoration: none;}
a, a:visited {text-decoration: none}
a:hover {text-decoration: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.app {
	display: flex;
}
canvas {
   max-width: 1500px;
   padding: 25px 25px;
	max-height: 950px;
	margin: 0 auto;
}
button {
	transition: 0.3s;
}
button:hover {
	opacity: 0.7;
}
.control	{
	width: 350px;
}
.control_item {
	margin: 25px;
	padding: 10px;
	border: 1px solid #888;
}
.control_inputs {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: center;
}
.control_item input,
.control_item label{
	margin: 0 0 5px;
}
.control_item input{
	margin: 0 0 5px;
}
.control_item label{
	font-size: 16px;
	padding-left: 5px;
	color: #888;
}
.control_item button{
	background-color: #AAA;
	color: #000;
	border: none;
	padding: 5px 0;
	width: 150px;
	margin: 0 auto 5px;
	font-weight: 700;
}
.tiles button {
	margin: 0 64px 5px;
}
.control_item i {
	padding-right: 5px;
}
.control_item :last-child {
	margin-bottom: 0;
}
.plane {
	display: flex;
	flex-direction: column;
}
.excisions {
	display: flex;
	flex-direction: column;
}
.excisions__btns {
	padding: 5px 0;
}
.excisions__btns button{
	width: 100%;
}
.control__step {
	display: flex;
	justify-content: space-between;
}
.control__step label {
	padding-right: 15px;
	font-weight: 700;
}
.control__step :last-child {
	padding-right: 0;
}
.move {
	display: flex;
	align-items: center;
	justify-content: center;
	/* flex-direction: column; */
	margin-bottom: 5px;
}
.move button {
	width: 25px;
	height: 25px;
	margin: 5px;
}
.move i {
	padding-right: 0;
	margin: 0 0 0 2px;
}
.leftright {
	display: flex;
	flex-direction: column;
}
.center {
	margin: 10px 0 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.center button {
	width: 120px;
	margin: 0;
}
.center i {
	margin: auto;
}
.trim {
	margin: 10px 0 0;
	display: flex;
}
.trim button{
	margin: 0 10px;
}
.trim i{
	margin: 0 0 0 5px;
}